{
  "singleQuote": true,
  "trailingComma": "es5",
  "semi": true,
  "printWidth": 80,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrderSortSpecifiers": true,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "../abis(.*)$",
    "../entities(.*)$",
    "../constants(.*)$",
    "../helpers(.*)$",
    "../errors(.*)$",
    "../contract(.*)$",
    "../multicall(.*)$",
    "^[./]"
  ]
}
